{% extends "xadmin/views/model_form.html" %}
{% load i18n crispy_forms_tags %}
{% load xadmin_tags %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'xadmin:index' %}">{% trans 'Home' %}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url opts|admin_urlname:'change' object.pk %}">{{ object|truncatewords:"18" }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url opts|admin_urlname:'revisionlist' object.pk %}">{% trans 'History' %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {% blocktrans with opts.verbose_name as verbose_name %}Diff {{ verbose_name }}{% endblocktrans %}
        </li>
    </ol>
</nav>
{% endblock %}

{% block nav_title %}
  <i class="fa fa-time"></i> {% blocktrans with opts.verbose_name as verbose_name %}Diff {{verbose_name}}{% endblocktrans %}
{% endblock %}

{% block content %}
<div class="module table-responsive">
  <table id="change-diff" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">{% trans 'Field' %}</th>
        <th scope="col">{% trans 'Version A' %}</th>
        <th scope="col">{% trans 'Version B' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for label, value_a, value_b, diff in diffs %}
        <tr{%if diff%} class="diff-row table-warning"{% endif %}>
          <th scope="row">{{ label }}</th>
          <td class="version-a{%if not diff%} text-muted{% endif %}">{{value_a}}</td>
          <td class="version-b{%if not diff%} text-muted{% endif %}">{{value_b}}</td>
        </tr>
      {% endfor %}
    </tbody>
      {% for revision_formset in formsets_diffs %}
          <tbody>
              <tr>
                  <th colspan="3" data-toggle="collapse" href="#formset-{{ revision_formset.instance.pk }}" role="button" aria-expanded="{{ forloop.first|yesno:'true,false'}}">
                      {{ revision_formset }}
                      <span class="collapse-indicator ml-2"><i class="fa-solid fa-sm fa-chevron-right text-primary"></i></span>
                  </th>
              </tr>
          </tbody>
          {% with has_open=forloop.first %}
              {% for formset_diffs in revision_formset.diffs %}
                  <tbody class="collapse {% if has_open %} show{% endif %}" id="formset-{{ revision_formset.instance.pk }}">
                  {% if revision_formset_results|length > 1 %}
                          <tr>
                              <th colspan="3" class="text-primary" data-toggle="collapse" href=".formset-group-{{ revision_formset.instance.pk }}-{{ forloop.counter }}" role="button" aria-expanded="{{ forloop.first|yesno:'true,false'}}">
                                  <span class="d-block pl-3">
                                      {{ revision_formset.instance }}
                                      <span class="collapse-indicator ml-2"><i class="fa-solid fa-sm fa-chevron-right text-primary"></i></span>
                                  </span>
                              </th>
                          </tr>
                          <tr class="collapse formset-group-{{ revision_formset.instance.pk }}-{{ forloop.counter }}{% if forloop.first %} show{% endif %}">
                              <th scope="col"><span class="d-block pl-3">{% trans 'Field' %}</span></th>
                              <th scope="col">{% trans 'Version A' %}</th>
                              <th scope="col">{% trans 'Version B' %}</th>
                          </tr>
                      {% endif %}
                      {% with formset_group_id=forloop.counter has_open=forloop.first %}
                          {% for label, value_a, value_b, diff in formset_diffs.results %}
                              <tr class="collapse formset-group-{{ revision_formset.instance.pk }}-{{ formset_group_id }}{% if diff %} diff-row table-warning{% endif %}{% if has_open %} show{% endif %}">
                                  <th scope="row"><span class="d-block pl-3">{{ label }}</span></th>
                                  <td class="version-a{% if not diff %} text-muted{% endif %}">{{ value_a }}</td>
                                  <td class="version-b{% if not diff %} text-muted{% endif %}">{{ value_b }}</td>
                              </tr>
                          {% endfor %}
                      {% endwith %}
                  </tbody>
              {% endfor %}
          {% endwith %}
      {% endfor %}
    <tbody>
      <tr>
        <th scope="row">{% trans "Revert to" %}</th>
        <td><a class="btn btn-primary" href="{{revision_a_url}}"><i class="fa fa-undo"></i> {% trans 'Revert' %}</a></td>
        <td><a class="btn btn-primary" href="{{revision_b_url}}"><i class="fa fa-undo"></i> {% trans 'Revert' %}</a></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}