{% extends "xadmin/edit_inline/base.html" %}
{% load i18n xadmin_tags crispy_forms_tags %}

{% block box_title %}{{ formset.opts.verbose_name_plural }}{% endblock box_title %}
{% block box_content %}
  {{ formset.formset.management_form }}

  {% with formset_non_form_errors=formset.formset.non_form_errors %}
    {% include "xadmin/edit_inline/base_errors.html" %}
  {% endwith %}

    <div class="card formset-row">
        <div class="card-body">
            {% if formset.formset.can_delete %}
                <a class="delete-row position-absolute position-top position-right m-3 z-index-3"><i class="fa fa-times"></i></a>
            {% endif %}
            {% crispy formset.formset.0 formset.formset.helper %}
        </div>
    </div>
{% endblock box_content %}